* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

img {
    height: 300px;
}

ul {
    display: flex;
}

h2 {
    margin-bottom: 100px;
    color: #fbc103;
}

h1,
h3,
h4 {
    margin-bottom: 20px;
}