@import "style.css";

.content--wip {
    text-align: center;
}

.construction-image {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    color: #FFC727;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
