footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 20px;
    border-top: solid 1px black;
}

@media screen and (max-width: 1200px) {

    footer {
        flex-wrap: wrap;
    }

}