<script setup lang="ts">

</script>

<template>
    <div class="content content--about">
        <h1 class="title"> Qui suis-je ? </h1>
        <h2 class="title"> Karine Bossy - Sophrologue </h2>
        <p>
            Pendant 25 années passées dans les métiers de la finance du secteur privé, j'ai eu la chance de pouvoir faire évoluer mes postes vers de l'accompagnement 
            de personnes au changement.
            Si bien que lors de ma reconversion professionnelle, la réflexion sur mon chemin de vie m'a permis de prendre conscience de ce fait… <br/>
            Au final, j'ai toujours été naturellement très attachée à l'écoute et à l'accompagnement des personnes autour de moi. <br/>
            <br/>
            C'est ainsi qu'après une formation en Naturopathie et Iridologie,
            la <span class="strongWord">Sophrologie</span> s'est présentée à moi comme une évidence faisant écho à la citation de Lao Tseu, à l'image de ma philosophie.
        </p>
        <div class="LaoTseu">
            <img src="../../assets/img/LaoTseu.png" alt="Lao Tseu" class="LaoTseu__img" />
            <div class="LaoTseu__quote">
                <img src="../../assets/img/quote-start.png" class="LaoTseu__quote__sign LaoTseu__quote__sign--start" />
                <p> Si tu donnes un poisson à un homme, il mangera un jour. Si tu lui apprends à pêcher, il mangera toujours. </p>
                <img src="../../assets/img/quote-end.png" class="LaoTseu__quote__sign LaoTseu__quote__sign--end" />
                <p class="LaoTseu__quote__author"> Lao Tseu </p>
            </div>            
        </div>
        <p>
            Maintenant que ma décision était prise de devenir Sophrologue, j'ai souhaité intégrer l'école de référence en ce domaine : 
            <strong> « IFS » Institut Française de Sophrologie </strong> fondé par Catherine Aliotta. <br/>
            En intégrant cet institut de formation, j'ai voulu me donner les moyens de 
            pouvoir vous apporter des accompagnements personnalisés, pertinents et de qualité au travers des protocoles qui m'ont été transmis. <br/>
            <br/>
            Venez découvrir la Sophrologie, son mécanisme, ses bienfaits et toutes ses possibilités d'actions, à travers une « Séance offerte ». <br/>
            <br/>
            À bientôt ! <br/>
            Votre sophrologue, Karine Bossy
        </p>
    </div>
</template>

<style scoped>

</style>