<script setup lang="ts">
import { ref } from 'vue'

defineProps<{
    classItemFirst: string
    classColor: string
    title: string
    imgSrc: string
    imgAlt: string
    list: string[] | null
    listWithTitle: {title: string, text: string}[] | null
    textFirst: string[] | null
    textSecond: string[] | null
}>()
</script>

<template>
    <div class="block" :class="classItemFirst">
        <div class="block__text" :class="classColor">
            <h4 class="title"> {{ title }}</h4>
            <template v-if="textFirst">
                <div v-for="text in textFirst">
                    <p>{{ text }}</p>
                </div>
            </template>
            <ul class="listText themesList">
                <template v-if="listWithTitle">
                    <li v-for="item in listWithTitle">
                        <strong> {{ item.title }} </strong> <br/>
                        {{ item.text }}                     
                    </li>
                </template>
                <template v-else>
                    <li v-for="item in list"> {{ item }} </li>
                </template>
            </ul>
            <template v-if="textSecond">
                <template v-for="text in textSecond">
                    <p>{{ text }}</p>
                </template>
            </template>
        </div>
        <img :src="imgSrc" :alt="imgAlt" class="block__img" />
    </div>
</template>

<style scoped>
p, ul {
  margin: 10px 0px 10px 0px
}
</style>