<script setup lang="ts">
import { ref } from 'vue'

const FAQ = ref([
    {question: "quest", answer: "answer"},
    {question: "quest2", answer: "answer2"},
    {question: "quest3", answer: "answer3"}
])

const openAnswers = ref<number[]>([]);

function toggleDisplay(index: number) {
    if (openAnswers.value.includes(index)) {
        openAnswers.value = openAnswers.value.filter(i => i !== index);
    } else {
        openAnswers.value.push(index);
    }
}

</script>

<template>
    <div class="FAQ">
        <h3 class="title"> FAQ </h3>
        <div class="FAQ__accordion">
            <div v-for="(quest, index) in FAQ" :key="index" class="FAQ__accordion__item JS__FAQ__item">
                <div class="FAQ__accordion__item__header JS__FAQ__item__header" @click="toggleDisplay(index)"> {{ quest.question }} </div>
                <div v-show="openAnswers.includes(index)" > {{ quest.answer }} </div>
                <!-- class="FAQ__accordion__item__content" -->
            </div>
        </div>
    </div>
</template>

<style scoped>
.FAQ {
    margin: 100px 0px 100px 0px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 40px;
}

.FAQ__accordion {
    display: flex;
    flex-direction: column;
}

.FAQ__accordion__item {
    margin-bottom: 10px;
}

.FAQ__accordion__item__header {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.FAQ__accordion__item__content {
    display: none;
    padding: 10px;
}
</style>