<script setup lang="ts">
import Block from './Block.vue';
import Presentation from './Presentation.vue';
import Rates from './Rates.vue';
import FAQ from './FAQ.vue';
import CTA from '../../composables/CTA.vue';

</script>

<template>

    <div class="content content--home">

        <h1 class="title"> Vous souhaitez reprendre votre vie en main ? </h1>
        <h2 class="title">
            Apprenez à gérer vos troubles ou votre besoin et à devenir autonome
            <br /> en 2 mois
        </h2>

        <div id="blockIntroduction">
          
          <Block
            classItemFirst="block--textFirst"
            classColor="block__text--pink"
            title="Où en êtes-vous ?"
            imgSrc="src/assets/img/besoinAide.png"
            imgAlt="woman needs help"
            :list="[
              'Vous perdez confiance en vous, en vos capacités ?',
              'Vous êtes fatigué(e)s, tout vous paraît insurmontable ?',
              'Vous aves besoin de vous recentrer,  prioriser, lâcher prise ?',
              'Vous avez l\'impression que le regard de votre entourage change ?',
              'Vous avez un projet, une idée, mais vous avez peur de vous lancer ?'
            ]"
            :listWithTitle=null
            :textFirst="[
              'Avant de vous parler de ma méthode d\'accompagnement, posez-vous ces 5 questions :'
            ]"
            :textSecond="[
              'Toutes ces interrogations sont celles des personnes que j\'accompagne.',
              'Effectivement, vous n\'êtes pas seul.',
              'Si vous vous sentez concerné et que vous avez besoin de reprendre le contrôle de votre vie, je vous conseille vivement de lire la suite.'
            ]"
          />

          <p class="transition">
              Ne laissez pas votre anxiété se transformer en stress permanent et parasiter vos nuits. <br />
              Découvrez comment <span class="strongWord"> je peux vous aider </span> pas à pas, à <span class="strongWord"> faire face à vos troubles </span> au quotidien.
          </p>

          <Block
            classItemFirst="block--imgFirst"
            classColor="block__text--brown"
            title="Retrouvez la sérénité"
            imgSrc="src/assets/img/serenite.png"
            imgAlt="chill man"
            :list="[
              'Tu as vu ta réaction ? C\'est disproportionné.',
              'Arrête de te mettre dans tous ces états.',
              'Détends-toi.'
            ]"
            :listWithTitle=null
            :textFirst="[
              'Imaginez-vous une situation où vous vous sentez bien, où vous vous sentez apaisé.',
              'Vous êtes en train de profiter de l\'instant avec votre entourage.',
              'Plus personne ne vous répète :'
            ]"
            :textSecond="[
              'Au contraire, vous lâchez prise, tout se passe bien, vous êtes serein.',
              'Oui. Aujourd\'hui vous réussissez à gérer vos émotions, votre comportement et vos réactions.'
            ]"
          />
           
          <p class="transition">
              Qu'est-ce qui vous mènera naturellement à tout ceci ? <span class="strongWord"> La Sophrologie </span>
          </p>

          <Block
            classItemFirst="block--textFirst"
            classColor="block__text--brown"
            title="Pourquoi la Sophrologie ?"
            imgSrc="src/assets/img/discipline.png"
            imgAlt="woman breathing"
            :list="[
              'la Relaxation progressive et suggestive',
              'la Relaxation psychosensorielle',
              'les Thérapies brèves',
              'l\'Autosuggestion',
              'la Psychanalyse',
              'la Neurologie',
              'l\'Hypnose'
            ]"
            :listWithTitle=null
            :textFirst="[
              'Vous avez essayé diverses thérapies et souhaitez maintenant être acteur de votre accompagnement.',
              'Découvrez dès maintenant ce que je vous propose.',
              'La sophrologie a fait ses preuves scientifiquement et elle est utilisée aujourd\'hui partout : entreprises, centres hospitaliers, écoles privées et publiques, cabinets médiaux et paramédiaux, associations sportives et culturelles...',
              'Créée il y\'a plus de 60ans, elle regroupe 7 concepts thérapeutiques :'
            ]"
            :textSecond=null
          />

          <p class="transition">
            Grâce à des techniques de <span class="strongWord">Relaxation</span>, de <span class="strongWord">Respiration Contrôlée</span> et
            des <span class="strongWord">Visualisations</span> de vos ressources positives, reprenez la maîtrise de vos <span class="strongWord">Emotions</span>,
            de vos <span class="strongWord">Réactions</span> et de votre <span class="strongWord">Corps</span>.
          </p>

          <Block
            classItemFirst="block--imgFirst"
            classColor="block__text--pink"
            title="Concrètement, qu'apporte la Sophrologie ?"
            imgSrc="src/assets/img/effetsSophrologie.png"
            imgAlt="strong woman"
            :list=null
            :listWithTitle="[
              {title: 'Réduction du stress', text:'Si hier, une situation compliquée faisait monter le stress en vous, aujourd\'hui avec la sophrologie, vous avez les clés pour le réduire.'},
              {title: 'Amélioration du sommeil', text: 'Vous allez retrouver tous les bienfaits d\'un sommeil profond et réparateur.'},
              {title: 'Développement de la confiance en soi', text: 'Lors d\'événements imortants pour vous, allez en tout confiance et laissez les doutes derrière vous.'},
              {title: 'Gestion des émotions', text: 'Vous faîtes face à toutes les situations grâce à un comportement adapté. Vous vous surprenez vous-même et votre entourage, plus personne ne vous fait de remarque sur votre état.'},
              {title: 'Gestion de la douleur', text: 'Libérez-vous de vos peurs, de vos douleurs.'}
            ]"
            :textFirst=null
            :textSecond=null
          />

          <p class="transition">
            Tout simplement, vous <span class="strongWord">reprenez votre vie en main</span> de manière autonome
          </p>
            
        </div>

        <Presentation/>

        <CTA 
          msg="N'hésitez plus, venez découvrir la Sophrologie !"
          offre="Séance offerte"
        />

        <div class="blockThemes">
            <h3 class="title"> Quelques thématiques </h3>
            <div class="themes">
                
                <Block
                  classItemFirst="block--imgFirst"
                  classColor="block__text--pink"
                  title="Gestion du quotidien"
                  imgSrc="src/assets/img/gestionQuotidien.png"
                  imgAlt="overloaded person"
                  :list="[
                    'Stress',
                    'Burn out',
                    'Lâcher prise',
                    'Trouble du sommeil',
                    'Adaptation au changement',
                    'Manque de confiance en soi',
                    'Emotions (anxiété, colère, peur, hyperémotivité...)'
                  ]"
                  :listWithTitle=null
                  :textFirst=null
                  :textSecond=null
                />

                <Block
                  classItemFirst="block--textFirst"
                  classColor="block__text--pink"
                  title="Préparation mentale"
                  imgSrc="src/assets/img/preparationMentale.png"
                  imgAlt="mental training"
                  :list="[
                    'Naissance',
                    'Dépassement de soi',
                    'Compétition sportive',
                    'Prise de parole, représentation scénique',
                    'Examen (scolaire, médical, permis de conduire...)'
                  ]"
                  :listWithTitle=null
                  :textFirst=null
                  :textSecond=null
                />
                
                <Block
                  classItemFirst="block--imgFirst"
                  classColor="block__text--brown"
                  title="Accompagnement de comportement pathologique"
                  imgSrc="src/assets/img/accompagnementPatho.png"
                  imgAlt="help to heal fear"
                  :list="[
                    'Phobie',
                    'Pulsion',
                    'Addiction'
                  ]"
                  :listWithTitle=null
                  :textFirst=null
                  :textSecond=null
                />

                <Block
                  classItemFirst="block--textFirst"
                  classColor="block__text--brown"
                  title="Accompagnement thérapeutique"
                  imgSrc="src/assets/img/accompagnementTherapie.png"
                  imgAlt="therapy heal"
                  :list="[
                    'Complexes',
                    'Gestion de la douleur',
                    'Acouphènes, hyperacousie',
                    'Valorisation du traitement thérapeutique',
                    'Acceptation (prothèse, transformation du corps...)'
                  ]"
                  :listWithTitle=null
                  :textFirst=null
                  :textSecond=null
                />            
                
            </div>
        </div>

        <CTA 
            msg="Convaincu ? Reprenez votre vie en main et contactez-moi !"
            offre="1ère séance offerte"
        />

        <Rates/>   

        <FAQ/>

    </div>

    <!-- <script type="text/javascript" src="js/hamburgerMenu.js"></script> -->

</template>

<style scoped>

</style>
