<script setup lang="ts">
import { ref } from 'vue'

const typeSeance = ref([
    "Séance individuelle (en visio ou en présentiel)",
    "Séance de groupe",
    "Instant Détente & Bien-être",
    "Séjour Bien-être"
])

const exercicesImg = ref([
    {source: "src/assets/img/relaxationDynamique1.png", alt: "relax exercise"},
    {source: "src/assets/img/relaxationDynamique2.png", alt: "relax exercise"},
    {source: "src/assets/img/relaxationDynamique3.png", alt: "relax exercise"},
    {source: "src/assets/img/relaxationDynamique4.png", alt: "relax exercise"}    
])
</script>

<template>
    <div class="seancePresentation">
        <h3 class="title"> Comment se déroule une séance ? </h3>
        <div class="seancePresentation__explanation">
            <p>
                Chaque séance est personnalisée en fonction de vos besoins. Elles sont menées en pleine conscience. <br />
                <br />
                Je vous propose différents formats :
                <br />
            </p>
            <ul class="listText seancePresentation__explanation__listText">
                <li v-for="seance in typeSeance"> {{ seance }} </li>
            </ul>
            <br/>
            <p> Le détail des prestations se trouve dans le menu <a href="/presta">Prestations</a>.</p>
            <br />
            <p> Chacune des séances fait l'objet d'un choix méticuleux de 4 exercices de relaxation dynamique et d'1 exercice de sophronisation. </p>
        </div>
        <div class="seancePresentation__sample">
            <p> Exemple de séance pour évacuer les tensions : </p>
            <div class="seancePresentation__sample__dynamicExercises">
                <p class="title"> Exercices de relaxation dynamique </p>
                <br />
                <ul class="seancePresentation__sample__dynamicExercises__listImg">
                    <li v-for="img in exercicesImg">
                        <img :src="img.source" :alt="img.alt" />
                    </li>
                </ul>
            </div>
            <div class="seancePresentation__sample__sophronisationExercise">
                <p class="title"> Exercice de sophronisation </p>
                <img src="@images/sophronisation.png" alt="sophronisation exercise" />
            </div>
        </div>
        <p class="transition">
            Ce panel d'exercices vous permet de savoir comment <span class="strongWord">maîtriser vos troubles</span> au quotidien
            et vous donne les clés de <span class="strongWord">votre épanouissement</span>
        </p>
    </div>
</template>

<style scoped>
.seancePresentation {
    border: solid 1px black;
    border-radius: 20px;
    padding: 40px;
}

.seancePresentation__explanation {
    margin-bottom: 40px;
}

.seancePresentation__sample__dynamicExercises {
    margin: 60px 0px 40px 0px;
}

.seancePresentation__sample__dynamicExercises__listImg {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

.seancePresentation__sample__sophronisationExercise {
    text-align: center;
}
</style>