<script setup lang="ts">
import { ref } from 'vue'

const rates = ref([
    {text: "first rating text", date: "10/23"},
    {text: "second rating text", date: "02/24"}
])

const dateRating = ref("dateRating");
const textRating = ref("textRating");

let currentRatingIndex = 0;

function updateRating() {
    const rating = rates.value[currentRatingIndex];
    dateRating.value = rating.date;
    textRating.value = rating.text;
}

function onPreviousRate() {
    currentRatingIndex = (currentRatingIndex - 1 + rates.value.length) % rates.value.length;
    updateRating();
}

function onNextRate() {
    currentRatingIndex = (currentRatingIndex + 1) % rates.value.length;
    updateRating();
}

// Initial display
updateRating();

</script>

<template>
    <div class="blockRatingAndTitle">
        <h3 class="title"> Qu'en pensent mes clients ? </h3>
        <div class="blockRating">
            <img src="@images/arrowLeft.png" alt="leftArrow" class="blockRating__arrow" id="leftArrow" @click="onPreviousRate"/>
            <div class="blockRating__rating">
                <p class="blockRating__rating__text" id="textRating"> 
                    {{ textRating }}
                </p>
                <p class="blockRating__rating__date" id="dateRating">
                    {{ dateRating }}
                </p>
            </div>
            <img src="@images/arrowRight.png" alt="rightArrow" class="blockRating__arrow" id="rightArrow" @click="onNextRate"/>
        </div>
    </div> 
</template>

<style scoped>
.blockRatingAndTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 50px 0px;
}

.blockRating {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blockRating__rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.blockRating__rating__date {
    align-self: end;
}

.blockRating__arrow {
    width: 2%;
    height: auto;
    cursor: pointer;
}
</style>