<script setup>

</script>

<template>
    <div class="content content--contact">

        <h1 class="title"> Contactez-moi </h1>

        <div class="block block--textFirst">
            <div class="block__text block__text--pink block__text--contact">
                <div class="contact">
                    <img src="../../assets/img/phone.png" alt="phone_contact" class="contact__img" />
                    <p> <a href="tel:+33658458566"> 06 58 45 85 66 </a> </p>
                </div>
                <div class="contact">
                    <img src="../../assets/img/mail.png" alt="mail_contact" class="contact__img" />
                    <p> <a href="mailto:contact@karinebossy-sophrologie.com"> contact@karinebossy-sophrologie.com </a> </p>
                </div>
                <div class="contact">
                    <img src="../../assets/img/facebook.png" alt="facebook_contact" class="contact__img" />
                    <p> <a href="https://www.facebook.com/profile.php?id=61550357797077" target="_blank"> Facebook : Karine Bossy - Sophrologie </a> </p>
                </div>
                <div class="contact">
                    <img src="../../assets/img/whatsapp.png" alt="whatsapp_contact" class="contact__img" />
                    <p> <a href="https://api.whatsapp.com/send?phone=33658456866" target="_blank"> WhatsApp : Karine Bossy </a> </p>
                </div>
                <div class="contact">
                    <img src="../../assets/img/location.png" alt="location" class="contact__img" />
                    <p> 83470 Saint-Maximin-La-Sainte-Baume <br/>
                    et communes alentours </p>
                </div>
            </div>
            <img src="../../assets/img/photoMaman-v1.jpg" alt="KarineBossy" class="block__img contact__karineBossyImg" />
        </div>
    </div>
</template>

<style scoped>
</style>