<template>
    <footer>
        <img src="@images/photoMaman-v1.jpg" alt="karine_bossy_picture" class="footer__karineBossyImg"/>
        <div class="footer__infos">
            <p> Karine Bossy </p>
            <p> <a href="tel:+33658458566"> 06 58 45 85 66 </a> </p>
            <p> <a href="mailto:contact@karinebossy-sophrologie.com"> contact@karinebossy-sophrologie.com </a> </p>
        </div>
        <img src="@images/Signature_Karine.png" alt="karine_bossy_signature"/>
        <img src="@images/logoFormation.png" alt="sophrologie_formation_logo" class="footer__formationLogo" />
    </footer>
</template>

<style scoped>
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 20px;
    border-top: solid 1px black;
}

@media screen and (max-width: 1200px) {

    footer {
        flex-wrap: wrap;
    }

}
</style>