<script setup lang="ts">
import { ref } from 'vue'

const navigation = [
    {href: '/', title: 'Accueil'},
    {href: '/about', title: 'Qui suis-je ?'},
    {href: '/presta', title: 'Prestations'},
    // {href: '/demo', title: 'Demo'},
    {href: '/contact', title: 'Contact'},
    {href: '/present', title: 'Bon cadeau'}
]
</script>

<template>
    <header>
        <img class="header__img" src="@images/LifeTree.png" alt="LifeTree Logo"/>
        <nav class="header__menu header__menu--computer">
            <RouterLink v-for="nav in navigation" :to='nav.href'> {{ nav.title }} </RouterLink>
        </nav>
        <div id="openBtn" class="header__hamburgerButton">
            <span class="header__hamburgerButton__span"></span>
            <span class="header__hamburgerButton__span"></span>
            <span class="header__hamburgerButton__span"></span>
        </div>
        <div id="mySidenav" class="header__sideBar">
            <a id="closeBtn" href="#" class="header__sideBar__closeButton">&times;</a>
            <ul class="header__menu header__sideBar__menu">
                <li v-for="nav in navigation"> <a :href='nav.href'> {{ nav.title }} </a> </li>
            </ul>
        </div>
        <div class="button primaryButton header__button">
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSejek42oyqRVWBkrMJJ9fcOljVW0SoKAfAEuK66Ny8q1z2swQ/viewform?usp=pp_url">
                1ère séance offerte
            </a>
        </div>
    </header>
</template>

<style scoped>
header {
    width: 100%;
    padding: 20px 50px 20px 50px;
    background-color: rgba(242, 242, 242, 0.9);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

    .header__menu a {
        color: black;
        transition: color 0.2s;
    }

        .header__menu a:hover {
            color: #fbc103;
        }

.header__menu--computer {
    padding: 10px 40px 10px 40px;
    background-color: white;
    border-radius: 20px;
    flex-direction: row;
}

/* mobile menu */

.header__hamburgerButton {
    display: none;
}

.header__sideBar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -1000px;
    background-color: rgb(242, 242, 242);
    padding-top: 60px;
    transition: left 0.5s ease;
}

    .header__sideBar.active {
        left: 0;
    }

.header__sideBar__closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
}

.header__sideBar__menu {
    flex-direction: column;
    padding: 64px 0px 0px 32px;
}

@media screen and (max-width: 1200px) {

    .header__menu--computer {
        display: none;
    }

    .header__hamburgerButton {
        display: flex;
        flex-direction: column;
    }

    .header__hamburgerButton__span {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 4px 0;
    }

    .header__sideBar__menu a {
        font-size: 30px;
    }

}
</style>
