<script setup lang="ts">

defineProps<{
  msg: string,
  offre: string
}>()

</script>

<template>
    <div class="CTA">
        <p class="CTA__text">
            {{ msg }}
        </p>
        <div class="button">
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSejek42oyqRVWBkrMJJ9fcOljVW0SoKAfAEuK66Ny8q1z2swQ/viewform?usp=pp_url">
                {{ offre }}
            </a>
        </div>
    </div>
</template>

<style scoped>
.CTA {
    display: flex;
    margin: 100px 0px 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    flex-wrap: wrap;*/
}

.CTA__text {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .CTA__text {
        font-size: 30px;
    }

}
</style>