.presta-array-container {
    border-radius: 10px;
    overflow: hidden;
    margin: auto 0px;
}

.presta-array {
    width: 100%;
    border-collapse: collapse;
}

.presta-array__header {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.presta-array__cell {
    padding: 10px;
}

    .presta-array__cell--text-center {
        text-align: center;
    }

.presta-array__row {
    border-bottom: solid 2px rgba(255, 255, 255, 0.4);
}

    .presta-array__row:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.4);
    }

.presta-array__included-img {
    height: 20px;
}
