.block {
    display: flex;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 50px 0px 50px 0px;
    min-height: 500px;
}

    .block--textFirst {
        flex-direction: row;
    }

    .block--imgFirst {
        flex-direction: row-reverse;
    }

.block__text {
    width: 50%;
    border-radius: 20px;
    padding: 40px;

    display: flex;
    flex-direction: column;
}

    .block__text--pink {
        background: #ffdfce;
        color: black;
    }

    .block__text--brown {
        background: #8d534d;
        color: white;
    }

.block__img {
    margin: auto;
}

.block__img--presta {
    height: auto;
    max-height: 500px;
}

@media screen and (max-width: 1200px) {
    .block--textFirst, .block--imgFirst {
        flex-direction: column-reverse;
    }

    .block__text {
        width: 100%;
    }

    .block__img {
        margin-top: 40px;
        margin-bottom: 40px;
    }

}