.button {
    display: flex;
    padding: 10px 20px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
    border: none;
    background-color: #fbc103;
}

    .button:hover {
        transform: scale(1.05);
    }

    .button a {
        color: white;
    }

@media screen and (max-width: 1200px) {

    .button a {
        font-size: 30px;
    }

}
