.carousel-container {
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carousel {
    height: auto;
    padding: 0px 50px;
}

    .carousel img {
        width: 400px;
        height: auto;
        display: none;
        margin: auto;

    }

.carousel-button {
    cursor: pointer;
    color: black;
    font-size: 20px;
    border: none;
}