.CTA {
    display: flex;
    margin: 100px 0px 100px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*    flex-wrap: wrap;*/
}

.CTA__text {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .CTA__text {
        font-size: 30px;
    }

}