.FAQ {
    margin: 100px 0px 100px 0px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 40px;
}

.FAQ__accordion {
    display: flex;
    flex-direction: column;
}

.FAQ__accordion__item {
    margin-bottom: 10px;
}

.FAQ__accordion__item__header {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.FAQ__accordion__item__content {
    display: none;
    padding: 10px;
}