.header__menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

    .header__menu a {
        color: black;
        transition: color 0.2s;
    }

        .header__menu a:hover {
            color: #fbc103;
        }

.header__menu--computer {
    padding: 10px 40px 10px 40px;
    background-color: white;
    border-radius: 20px;
    flex-direction: row;
}

/* mobile menu */

.header__hamburgerButton {
    display: none;
}

.header__sideBar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -1000px;
    background-color: rgb(242, 242, 242);
    padding-top: 60px;
    transition: left 0.5s ease;
}

    .header__sideBar.active {
        left: 0;
    }

.header__sideBar__closeButton {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
}

.header__sideBar__menu {
    flex-direction: column;
    padding: 64px 0px 0px 32px;
}

@media screen and (max-width: 1200px) {

    .header__menu--computer {
        display: none;
    }

    .header__hamburgerButton {
        display: flex;
        flex-direction: column;
    }

    .header__hamburgerButton__span {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 4px 0;
    }

    .header__sideBar__menu a {
        font-size: 30px;
    }

}