.blockRatingAndTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 50px 0px;
}

.blockRating {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blockRating__rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.blockRating__rating__date {
    align-self: end;
}

.blockRating__arrow {
    width: 2%;
    height: auto;
    cursor: pointer;
}
