.seancePresentation {
    border: solid 1px black;
    border-radius: 20px;
    padding: 40px;
}

.seancePresentation__explanation {
    margin-bottom: 40px;
}

.seancePresentation__sample__dynamicExercises {
    margin: 60px 0px 40px 0px;
}

.seancePresentation__sample__dynamicExercises__listImg {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    list-style: none;
}

.seancePresentation__sample__sophronisationExercise {
    text-align: center;
}
