.header__button {
    margin: 20px 20px 20px auto;
}

.header__img {
    height: 100px;
    margin-right: 40px;
}

.listText {
    flex-direction: column;
    list-style-position: inside;
    gap: 10px;
}

.themesList {
    gap: 10px;
}

.title {
    text-align: center;
}

.transition {
    font-size: 1.1em;
    text-align: center;
    margin: 100px 0px 100px 0px;
}

.strongWord {
    color: #fbc103;
}

.smallText {
    font-size: 16px;
    font-style: italic;
}

.LaoTseu {
    align-self: center;
    background-color: rgba(251, 193, 3, 0.5);
    margin: 50px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.LaoTseu__img {
    height: 100%;
}

.LaoTseu__quote {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LaoTseu__quote * {
    margin: 5px 0px;
}

.LaoTseu__quote__sign {
    height: 20px;
}

.LaoTseu__quote__sign--start {
    align-self: start;
}

.LaoTseu__quote__sign--end {
    align-self: end;
}

.LaoTseu__quote__author {
    align-self: end;
}

.block__text--contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.contact__img {
    height: 50px;
    margin-right: 20px;
}

.contact__karineBossyImg {
    border-radius: 150px;
}

.notabene {
    font-style: italic;
}

footer img {
    height: 100px;
}

.footer__karineBossyImg {
    border-radius: 70px;
}

.footer__infos {
    text-align: center;
}

.footer__formationLogo {
    height: auto;
    width: 50%;
}


@media screen and (max-width: 1200px) {

    .seancePresentation__explanation__listText {
        font-size: 29px;
    }

    h4.title {
        font-size: 30px;
    }

    .footer__formationLogo {
        margin-top: 30px;
        margin-left: auto;
    }
}