<script setup lang="ts">
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

</script>

<template>

  <Header />

  <main>
    <RouterView />
  </main>

  <Footer />
  
</template>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 80%;
    margin: 250px 0px 100px 0px;
}

.content--home, .content--about {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    height: 300px;
}

ul {
    display: flex;
}

h2 {
    margin-bottom: 100px;
    color: #fbc103;
}

h1,
h3,
h4 {
    margin-bottom: 20px;
}
</style>
